.feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.newCard{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}




.card{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 16px;
    line-height: 1.2;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.content{
    height: 250px;
}

.cardDelete{
   padding: 10px 20px;
   margin-left: 100px;
   color: white;
   background-color: red;
   border: 1px solid red;
   border-radius: 10px;
}


.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

