.findIP{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 24px;
    margin: 30px 30px 0px 30px ;
}

.content{
    padding: 10px;
}
.info{
    margin-top: 20px;
    margin-left: 30px;
    width: 300px;
   
}



